.form{
    width: 400px;
    height: 500px;
    padding: 1.5rem;
    background: white;

    border: 1px solid rgba(0,0,0, .5);
    border-radius: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}

.form_text{
    font-size: 3rem;
    align-self: flex-start;
    font-weight: bold;
}

.form ul {
        width: 100%;
        list-style: none;
       
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap:5px;
        flex-direction: column;

        
}

.form input {
    width: inherit;
    border-radius: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
}

.form li {
    width: inherit;
    
}

.form button{
    width: 100%;
    background: var(--tertiary-color);
    padding: .5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.form button:hover{
    cursor: pointer;
}

.form_acc_text{
    font-size: 1rem;
}

.form_list span{
    color: var(--red-bg);
}