html,body,*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    height: 100vh;
}

:root{
    
    --primary-color: #C9FBFF;
    --secondary-color: #9AC6FF;
    --tertiary-color: #71AFFF;

    --gray-bg: #EAEAEA;
    --gray-text-stroke: #8b8b8b;
    --gray-registration: rgba(0,0,0,.5);

    --navbar-text: black;
    --navbar-text-visited: rgb(129, 129, 129);

    --green-bg: #5DFF4E;
    --green-checkmark: #0C8C00;

    --red-bg: #FF4E4E;

    --blue-hlink: #006FFF;

    --highlighted: #E4FF99;

    --red-admin: #FF6D6D;
    --yellow-admin: #FFFF6D;
    --green-admin: #74FF6D;

    --text-family: sans-serif;
}

body{
    background: var(--primary-color);

}

nav{
    position: absolute;
    left:0;
    right:0;
    background:var(--secondary-color);
}

.container{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding:2rem;
    font-size: 1.5rem;
}

.navbar_account{
    position:relative;
    overflow:hidden;
    display: flex;
    flex-direction: row;
    gap:10px;
    list-style: none;
}

.home_button{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    color: black;
    text-decoration: none;
    overflow: hidden;
}

.slider{
    text-decoration: none;
}

.slider::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: black;
    transition: all .3s ease;
}

.slider:hover::after{
    left: 0;
}

.navbar_link_container {
    position: relative;
    font-size: 2rem;
    overflow: hidden;
    color: var(--navbar-text);
}

.navbar_link{
    color: var(--navbar-text);
    transition: .3s all ease;
}

.navbar_link:visited{
    color: var(--navbar-text-visited);
}

.navbar_link:active{
    color: red;
}